@model Logic.Submission
<tr>
    <td width="10%">@Model.SurName</td>
    <td width="10%">@Model.FirstName</td>
    <td width="10%">@Model.EmailAddress</td>
    <td width="10%">@Model.Phonenumber</td>
    <td width="10%">@Model.DateOfBirth.ToString("dd MMM yyyy")</td>
    <td width="10%">@Model.SerialNumber</td>
</tr>
